<% content_for :main do %>

    <h3><%= @presenter[:profile_nav][:active_profile][:title] %></h3>
    <p>Skeleton is built on three core principles:</p>
    <ul class="square">
      <li><strong>A Responsive Grid Down To Mobile</strong>: Elegant scaling from a browser to tablets to mobile.</li>
      <li><strong>Fast to Start</strong>: It's a tool for rapid development with best practices</li>
      <li><strong>Style Agnostic</strong>: It provides the most basic, beautiful styles, but is meant to be overwritten.</li>
    </ul>

<% end %>