<!DOCTYPE html>
<html>
<head>
  <title>Snipsnip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <div class="container" style="margin-top: 40px">
    <div class="twelve columns">
      <h1 class="remove-bottom">snipsnip</h1>
      <h5>Love your job.</h5>
    </div>
    <div class="two columns">
      <a href="#" class="full-width button">Register</a>
    </div>
    <div class="two columns">
      <a href="#" class="full-width button">Login</a>
    </div>
  </div>

  <hr style=""/>

  <div class="container">
    <div class="three columns">
      <%= yield :profiles %>
    </div>
    <div class="nine columns">
      <%= yield :main %>
    </div>
    <div class="four columns">
      <%= yield :feed %>
    </div>

  </div>
</div>

</body>
</html>
