<% content_for :profiles do %>
    <h3>Your Profiles</h3>
    <% @presenter[:profile_nav][:profiles].each do |profile| %>
    <a href="<%= url_for(:action => 'show', :controller => 'profile', :id => profile[:id]) %>" class="full-width button <%= 'active' if profile == @presenter[:profile_nav][:active_profile] %>"><%= profile[:title] %></a>
    <% end %>
<% end %>

<% content_for :feed do %>
    <h3>Docs &amp; Support</h3>
    <p>The easiest way to really get started with Skeleton is to check out the full docs and info at <a href="http://www.getskeleton.com">www.getskeleton.com.</a>. Skeleton is also open-source and has a <a href="https://github.com/dhgamache/skeleton">project on git</a>, so check that out if you want to report bugs or create a pull request. If you have any questions, thoughts, concerns or feedback, please don't hesitate to email me at <a href="mailto:hi@getskeleton.com">hi@getskeleton.com</a>.</p>
<% end %>
<%= render :template => 'layouts/application' %>